
.ANG{
	color: white;
	background: black;
}

.AP{
	color: white;
	background: black;
}

.ASR{
	color: white;
	background: black;
}

.EC{
	color: white;
	background: black;
}

.EGO{
	color: white;
	background: black;
}

.MATHS{
	color: white;
	background: black;
}

.OMGL{
	color: white;
	background: black;
}
